<h1>Sessions#Login</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<%= form_tag sessions_path do %>
Email: <%= text_field_tag :email, params[:email], class:"form-control" %><br />
Password: <%= password_field_tag :password, nil, class:"form-control"  %><br />
<%= submit_tag 'Log In' %>
<% end %>
